.container {
  min-width: 300px;
  margin: 50px 50px;
  padding: 50px;
}
.img {
  width: 70px;
  height: 70px;
  margin-right: 50px;
}
.item {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}
.contentItem {
  display: flex;
  flex-basis: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 100%;
  margin-left: 10px;
}
.content_button {
  width: 100px;
  height: 50%;
  cursor: pointer;
  border-radius: 7px;
  border: 1px solid grey;
  background-color: #f50057;
  color: white;
  font-weight: bold;
}
.content_button:hover {
  background-color: #d6004b;
}
.content_button--toRight {
  margin-right: 10px;
  align-items: flex-end;
}

@media screen and (max-width: 750px) {
  .img {
    margin-right: 0px;
  }
  .content_button {
    width: 70px;
  }
}

@media screen and (max-width: 600px) {
  .item {
    flex-direction: column;
  }
  .contentItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: auto;
    margin-bottom: 10px;
  }
  .img {
    width: 100%;
    height: auto;
    margin-right: 0px;
  }
  .phone {
    margin: 0px;
  }
  .container {
    min-width: 300px;
    margin: 0px;
    padding: 70px;
  }
  .content_button {
    border-radius: 4px;
    height: 30px;
    width: 100%;
  }
  .content_button--toRight {
    width: 100%;
    align-items: flex-end;
  }
  .content {
    padding: 0px 5px;
  }
}
