.item {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 0px 0px;
  margin: 20px 0px;
  /* align-content: stretch; */
}
.contentItem {
  display: flex;
  flex-basis: 100%;
}
.content {
  flex-basis: 100%;
  margin: 0px 20px;
  padding: 30px;
}
.content_button {
  padding: 10px 20px;
  margin: 23px;
  cursor: pointer;
  border-radius: 7px;
  border: 1px solid grey;
  background-color: #f50057;
  color: white;
  font-weight: bold;
}
.content_button:hover {
  background-color: #d6004b;
}
